 #game div {
  border: 1px solid black;
  padding: 0 10rem 0 10rem;
  height: 200px;
  margin: 10px;
  display: inline-block;
  border-radius: 1rem;
} 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.error-message {
  color: red;
  font-size: 14px;
  padding-left: 12rem;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  overflow-x: hidden;
  /* background: linear-gradient(to bottom right, hsl(44.52, 100%, 49.41%), hsl(28, 73%, 56%), hsl(339, 45%, 74%), hsl(277, 70%, 74%)); */
  background-image: url("https://cdn.dribbble.com/userupload/3274746/file/original-c4c6dc1fbc4277fb6159b83edc7d2ef9.png?resize=1024x576&vertical=center");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: 1px solid; */
}

.card {
  flex: 0 0 20%;
  background-color: #94ADD7;
  min-height: 15vh;
  transition: transform 0.5s;
  transform: none;
  border-width: 0px;
}

.rotate {
  transform: rotateZ(45deg) rotateY(180deg) rotateZ(45deg);
  /* background-color: aliceblue; */
}

.heading{
  text-align: center;
}

.heading-container{
  /* border: 1px solid; */
  font-family: sans-serif;
  font-size: 1.2rem;
}

.game-container{
  /* border: 1px solid; */
  flex-wrap: wrap;
  text-align: center;
  padding: 7rem;
  /* padding-top: 13rem; */
}

.move-count{
  align-self: center;
  text-align: center;
}

.button-container{
  /* border: 1px solid ; */
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem 2rem 10rem;
}

.btn{
  color: #151414;
  font-size: 1.2rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
  /* background-color: hsl(251.25, 16%, 19.61%); */
  background-color: #94ADD7;
  border-style: none;
  flex-basis: 12rem;
  cursor: pointer;
  font-weight: 600;
}

.info-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem 2rem 12rem;
  /* border: 1px solid red; */
}

.change{
  color: #ffffff;
}

/* .game-options{
  text-align: center;
} */

.game-options label{
  font-size: 1.5rem;
  font-weight: 600;
}

.game-options input{
  /* padding: 1rem; */
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.3rem;
  border-width: 0;
}

.background-container{
  background-image: url("https://static.skillshare.com/uploads/project/533735/cover_800_4a8699c336a774ed7200f9da194eda28.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.game-heading{
  font-size: 3.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  color: #040D12;
}

.bg-info{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30rem;
  height: 20rem;
  background-color: transparent;
  border-radius: 1.5rem;
}

.bg-button-ins{
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.2rem; 
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-family: sans-serif;
  padding: 0 4rem 0 4rem;
  border: 4px solid #FCDFCE;
  background-color: #C22514;
  color: #ffffff;
}

.bg-button-play-now{
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1rem; 
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-family: sans-serif;
  padding: 0 4.9rem 0 4.9rem;
  border: 4px solid #FCDFCE;
  background-color: #9CD44D;
  color: #ffffff;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
div .popup{
  border-radius: 1rem;
}

.popup-content {
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-basis: 80%;
  max-height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.close {
  align-self: flex-end; 
  font-size: 24px;
  cursor: pointer;
}

.ins-info{
  line-height: 2rem;
  padding-top: 1.25rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  padding-bottom: 1.25rem;
}

/* restart popup css rulesets */
/* .restart-popup-content{
  display: flex;
  flex-direction: column;
} */

.popup-btn-container{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.game-parameters{
  color: #f5f5f5;
  font-size: 1.25rem;
  font-family: sans-serif;
}

.count-heading{
  color: #f5f5f5;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.popup-btn{
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1rem;
  border-width: 0px;
}
@media all and (max-width: 450px) {
  #game div{
    margin-bottom: 2rem;
  }

  .game-container{
    padding: 0rem;
  }

  .card {
    min-height: 8vh;
    margin: 0.25rem;
  }

  .button-container,
  .info-container {
    padding: 2rem 0.5rem;
  }

  .info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}